.#{$prefix}container-messagewarning {
    border: 1px solid $cmdbuild-status-warning;
    background: lighten($cmdbuild-status-warning, 55%);
    padding: 10px 15px 10px 40px;
    margin-bottom: $cmdbuildui-statuses-progressbar-margin-bottom;
    color: darken($color: $cmdbuild-status-warning, $amount: 20%);

    &::before {
        content: $fa-var-exclamation-triangle;
        color: $cmdbuild-status-warning;
        font-family: FontAwesome !important;
        font-size: 2em;
        position: absolute;
        left: 10px;
        top: 10px;
    }
}